
        .total-box {
            position: relative;
            background-color: #a9d0ef;
            color: white;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
            transition: background-color 0.3s;
        }

        .bucket {
            background-color: #6c757d;
            color: white;
            padding: 20px;
            border-radius: 5px;
            margin: 10px 0;
            text-align: center;
            position: relative;
        }

        .bucket-input {
            margin-top: 10px;
        }

        /* Change color based on input value */
        .filled {
            background-color: #28a745; /* Green for filled */
        }

        .empty {
            background-color: #dc3545; /* Red for empty */
        }
        /* #bucket1 {
            background-color: rgb(245, 222, 245);
        }
        #bucket2{
            background-color: rgb(122, 104, 106);
        }
        #bucket3{
            background-color:  #a9d0ef;
        } */
